html,
body {
    font-family: segoe ui;
    color: #0f1419;
    font-size: 15px;
    font-weight: 400;
}

body,
.btn,
.form-search .form-control,
h6,
.card-footer {
    font-size: 1em;
}


.nav-link,
h1,
.card-header {
    font-size: 1.27em;
}

.reaction-count,
.list-group-item p,
.footer li {
    font-size: 0.87em;
    line-height: 1.55;
}

.nav-link,
.btn,
h1,
.name,
h6 {
    font-weight: 700;
}

body,
h1,
.form-control {
    line-height: 1.35;
}

a {
    color: #0f1419;
    text-decoration: none;
}

.blue,
.active,
.nav-link:hover {
    color: #1da1f2;
}

.light-blue {
    color: #8ed0f9;
}

.light,
.tweet-action, .tweet-action:hover,
.tweet-footer ul li a,
.list-group-item p,
.footer a {
    color: #5b7083;
}

.hashtag {
    color: #1b95e0;
}

.sidenav {
    padding-left: 6px;
    /* height: 100vh;
        overflow-y: hidden; */
}

nav {
    margin-left: 11px;
}

.navbar-brand i {
    font-size: 1.51em;
    margin-top: 13px;
    margin-bottom: 8px;
}

.nav-link {
    padding-left: 0px;
    /* font-size: 19px; */
    /* font-size: 1.27em; */
    /* line-height: 1.52; */
    /* font-weight: 700; */
    padding-top: 15px;
    padding-bottom: 4px;
}

.nav-icon {
    font-size: 1.15em;
    line-height: 26px;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
}

.notification-no {
    font-weight: 400;
    color: #ffffff;
    background-color: #1da1f2;
    border-radius: 55px;
    position: absolute;
    margin-top: -4px;
    margin-left: 4px;
    padding: 0px 2px;
    font-size: 0.58em;
}

.nav-text {
    margin-left: 14px;
}

.btn-tweet {
    line-height: 1;
    color: #ffffff;
    background-color: #1da1f2;
    border-radius: 55px;
}

.sidenav .btn-tweet {
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
    width: 229.5px;
    height: 49px;
    margin-top: 16px;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.col-lg-6 {
    border-left: 1px solid #ebeef0;
    border-right: 1px solid #ebeef0;
}

.main {
    /* height: 100vh;
        overflow: auto; */
}

.main-top {
    border-bottom: 1px solid #ebeef0;
    background-color: #ffffff;
    width: 42%;
    position: fixed;
    z-index: 1111;
}

h1 {
    font-weight: 800;
    padding: 15px 0px 5px;
}

.tweet-box {
    margin-top: 54px;
    padding-top: 10px;
    border-bottom: 1px solid #ebeef0;
}

.profile-image img {
    width: 49px;
    height: 49px;
    object-fit: cover;
    border-radius: 55px;
}

.form-tweet {
    padding-left: 12px;
}

textarea {
    resize: none;
    overflow: hidden;
}

.form-control {
    border: none;
    padding-top: 12px;
    padding-left: 0px;
}

.form-tweet .form-control {
    padding-top: 12px;
    font-size: 1.27em;
}

.tweet-toolbar {
    padding: 10px 0px;
    border-top: 1px solid #ebeef0;
    margin-top: 7px;
}

.tweet-toolbar ul li i {
    font-size: 1.5em;
    margin-right: 20px;
}

.tweet-toolbar .btn-tweet {
    width: 74.08px;
    height: 39px;
    opacity: 0.5;
}

hr {
    height: 8px !important;
    margin: 0px;
    background-color: #f7f9fa;
    opacity: 1;
}

.tweet {
    padding-top: 10px;
    border-top: 1px solid #ebeef0;
}

.tweet-contents {
    padding-left: 9px;
}

.tweet-header p {
    margin-top: -1px;
    margin-bottom: 0px;
}

.tweet-action {
    font-size: 0.93em;
}

.tweet-p {
    margin-bottom: 0px;
    margin-top: 1px;
}

.tweet-body img {
    width: 507px;
    height: 285.19px;
    /* height: 265.44px; +100px web-link */
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px;
}

.tweet-footer {
    padding: 10px 0px 8px;
}

.tweet-footer ul li {
    margin-right: 85px;
}

.tweet-footer ul li a {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
}

.reaction-count {
    margin-left: 10px;
}

.end {
    /* height: 100vh;
        overflow-y: hidden; */
    width: 350px;
    margin-left: 19px;
}

.form-search {
    padding-top: 6px;
    padding-bottom: 10px;
}

.input-group {
    background-color: #EBEEF0;
    border-radius: 55px;
}

.input-group-text {
    background-color: transparent;
    border: none;
    padding-left: 18px;
    padding-right: 17px;
}

.form-search .form-control {
    background-color: transparent;
    padding-top: 11px;
    padding-bottom: 11px;
}

.card {
    background-color: #f7f9fa;
    border: none;
    /* #EFF1F2 */
    border-radius: 15px;
    margin-bottom: 17px;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid #ebeef0;
    font-weight: 800;
    padding-top: 11px;
    padding-bottom: 9px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #ebeef0;
    background-color: transparent;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 18px;
}

.list-group-item p {
    margin-top: -2px;
    margin-bottom: 1px;
}

.card-footer {
    padding-bottom: 16px;
    padding-top: 13px;
    background-color: transparent;
}

.footer {
    margin-left: 14px;
    padding-right: 60px;
}

.footer li {
    margin-right: 9px;
}

.footer i {
    font-size: 0.8em;
    margin-right: 4px;
}

.main::-webkit-scrollbar {
    /* width: 0 !important; */
    /* display: none;  */
    /* position: fixed; */
    /* width: 100px; */
    /* right: 50px; */
    /* z-index: 11111; */
}

@media (min-width: 1282px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1280px;
    }
}

@media (min-width: 992px) {
    body {
        /* height: 100vh;
        overflow-y: hidden; */
    }

    .col-lg-3 {
        width: 22.1%;
    }

    .col-lg-6 {
        width: 46.85%;
        padding-left: 15px;
        padding-right: 15px;
    }
}